*, ::before, ::after {
    box-sizing: inherit;
}

body {
    display: block;
    margin: 0;
    font-family: "Noto Sans", sans-serif;
    font-size: 1.125rem;
    line-height: 1.8;
    color: #222;
    background: #f2f2f2;
}

h1, h2, h3, h4, h5, h6 {
    clear: both;
    color: #020202;
}

.site {
    position: relative;
}

.site-header {
    position: relative;
    margin: 0;
    padding: 1.25rem 0 1.875rem 0;
    background-color: #fff;
}

.container {
    width: auto;
    margin: 0 auto;
    padding: 0 15px;
}

.site-branding {
    position: relative;
    text-align: center;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
}

.site-title {
    /* TODO: Specific font! */
    font-family: "Liberation Sans", sans-serif;
    line-height: 1.3;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    word-wrap: break-word;
}

.site-title a,
.site-title a:visited {
    color: #020202;
    font-weight: 700;
    text-decoration: none;
}

.site-title a:hover {
    text-decoration: underline;
}

.site-description {
    color: #4d4d4d;
    font-family: "Noto Sans", sans-serif;
    line-height: 1.3;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    word-wrap: break-word;
}

.site-navigation {
    position: relative;
    display: block;
    background-color: white;
}

.site-navigation-ul {
    margin: 0;
    padding: 1.6rem 0 1.25rem 0;
    list-style: none;
    text-align: center;
    border-top: 2px solid #020202;
}

.site-navigation-li {
    display: inline-block;
    position: relative;
    word-wrap: break-word;
    white-space: normal;
}

.site-navigation-li a,
.site-navigation-li a:visited {
    display: block;
    position: relative;
    color: #020202;
    /*font-size: 0.9375rem;*/
    font-size: 0.9375rem;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
}

.site-navigation-li a:hover {
    text-decoration: underline;
}

/*-----------*/

.site-footer {
    display: block;
    position: relative;
    padding: 2.8125rem 0;
    background: #020202;
}

.site-credits {
    width: 100%;
    text-align: center;
    color: #999;
    font-size: 0.875rem;
}



/*---------------------
   RESPONSIVE DESIGN
---------------------*/

@media (min-width: 1380px) {
    .container {
        max-width: 1300px;
    }

    .site-title {
        font-size: 3rem;
    }

    .site-description {
        font-size: 1.125rem;
    }

    .site-navigation-li a,
    .site-navigation-li a:visited {
        padding: 0 1.0625rem;
    }
}

@media (min-width: 1200px) and (max-width: 1379px) {
    .container {
        max-width: 1140px;
    }

    .site-title {
        font-size: 3rem;
    }

    .site-description {
        font-size: 1.125rem;
    }

    .site-navigation-li a,
    .site-navigation-li a:visited {
        padding: 0 1.0625rem;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .container {
        max-width: 960px;
    }

    .site-title {
        font-size: 2.75rem;
    }

    .site-description {
        font-size: 1.125rem;
    }

    .site-navigation-li a,
    .site-navigation-li a:visited {
        padding: 0 1.0625rem;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .container {
        max-width: 720px;
    }

    .site-title {
        font-size: 2.75rem;
    }

    .site-description {
        font-size: 1.125rem;
    }

    .site-navigation-li a,
    .site-navigation-li a:visited {
        padding: 0 1.0625rem;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .container {
        max-width: 540px;
    }

    .site-title {
        font-size: 2.25rem;
    }

    .site-description {
        font-size: 1rem;
    }

    .site-navigation-li a,
    .site-navigation-li a:visited {
        padding: 0 1.0625rem;
    }
}

@media (max-width: 575px) {
    .site-title {
        font-size: 2.25rem;
    }

    .site-description {
        font-size: 1rem;
    }

    .site-navigation-li a,
    .site-navigation-li a:visited {
        padding: 0 1.0625rem;
    }
}
