*, ::before, ::after {
    box-sizing: inherit;
}

body {
    display: block;
    margin: 0;
    font-family: "Noto Sans", sans-serif;
    font-size: 1.125rem;
    line-height: 1.8;
    color: #222;
    background: #f2f2f2;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Noto Sans", sans-serif;
    clear: both;
    color: #020202;
}

code {
    background-color: #eee;
    padding: 5px;
    border-radius: 5px;
}

pre {
    background-color: #eee;
    padding: 10px;
    border-radius: 10px;
    line-height: 1.4;
}

pre code {
    background-color: transparent;
    padding: 0;
    border-radius: 0;
}

.site {
    position: relative;
}

.container {
    width: auto;
    margin: 0 auto;
    padding: 0 15px;
}

.site-top {
    width: 100%;
}

.site-header {
    position: relative;
    margin: 0;
    padding: 1.25rem 0 1.875rem 0;
    background-color: #fff;
}

.site-branding {
    position: relative;
    text-align: center;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
}

.site-title {
    /* TODO: Better font? */
    font-family: "Noto Sans", sans-serif;
    line-height: 1.3;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    word-wrap: break-word;
}

.site-title a,
.site-title a:visited {
    color: #020202;
    font-weight: 700;
    text-decoration: none;
}

.site-title a:hover {
    text-decoration: underline;
}

.site-description {
    color: #4d4d4d;
    font-family: "Noto Sans", sans-serif;
    line-height: 1.3;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    word-wrap: break-word;
}

.site-navigation {
    position: relative;
    display: block;
    background-color: white;
}

.site-navigation-ul {
    margin: 0;
    padding: 1.6rem 0 1.2rem 0;
    list-style: none;
    text-align: center;
    border-top: 2px solid #020202;
}

.site-navigation-li {
    display: inline-block;
    position: relative;
    word-wrap: break-word;
    white-space: normal;
}

.site-navigation-li a,
.site-navigation-li a:visited {
    display: block;
    position: relative;
    color: #020202;
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
}

.site-navigation-li a:hover {
    text-decoration: underline;
}

.site-content {
    width: 100%;
    margin: 30px 0;
}

.site-content-inside {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.site-main {
    position: relative;
    box-sizing: border-box;
    flex: 0 0 68.75%;
    max-width: 68.75%;
    padding: 0 15px;
}

.site-sidebar {
    position: relative;
    box-sizing: border-box;
    flex: 0 0 31.25%;
    max-width: 31.25%;
    padding: 0 15px;
}

.site-footer {
    display: block;
    position: relative;
    padding: 2.8125rem 0;
    background: #020202;
}

.site-credits {
    width: 100%;
    text-align: center;
    color: #999;
    font-size: 0.875rem;
}

/*----------*/

.widget {
    display: block;
    position: relative;
    padding: 1.875rem;
    margin: 1.875rem 0 0 0;
    font-size: 0.875rem;
    word-wrap: break-word;
    background-color: #fff;
    box-shadow: 0 1px 5px rgba(0, 0, 1, 0.05);
}

.widget:nth-of-type(1) {
    margin: 0;
}

/*----------*/

.post-list {
    width: 100%;
}

.post-wrapper {
    display: flex;
    flex-direction: row-reverse;
    position: relative;
    width: 100%;
    padding: 0;
    margin: 1.875rem 0 0 0;
    background-color: #fff;
    box-shadow: 0 1px 5px rgba(0, 0, 1, 0.05);
}

.post-wrapper:nth-of-type(1) {
    margin: 0;
}

.post-wrapper-image {
    display: block;
    position: relative;
    width: 330px;
    min-height: 300px;
    overflow: hidden;
}

.post-wrapper-image figure {
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: #ccc;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    position: absolute;
    transition: all 0.5s ease;
}

.post-wrapper-image figure:hover {
    transform: scale(1.1) rotate(1deg);
}

.post-wrapper-data {
    align-self: center;
    width: calc(100% - 330px);
    padding: 2.8125rem;
}

.post-wrapper-data-meta {
    width: 100%;
    margin: 0 0 10px 0;
    font-size: 0.875rem;
}

.post-wrapper-data-meta a,
.post-wrapper-data-meta a:visited,
.post-wrapper-data-meta a time {
    color: #3d3d3d;
    text-decoration: none;
}

.post-wrapper-data-meta a:hover {
    color: #020202;
    text-decoration: underline;
}

.post-wrapper-data h2 {
    margin: 0 0 15px 0;
    padding: 0;
    clear: none;
    font-size: 1.75rem;
    font-weight: 700;
    line-height: 1.4;
    word-wrap: break-word;
}

.post-wrapper-data h2 a,
.post-wrapper-data h2 a:visited {
    color: #020202;
    text-decoration: none;
}

.post-wrapper-data h2 a:hover {
    color: #020202;
    text-decoration: underline;
}

.post-wrapper-data p {
    margin: 0;
    padding: 0;
    font-size: 1rem;
    line-height: 1.7;
    word-wrap: break-word;
}

.post-wrapper-data-more {
    width: 100%;
    margin: 15px 0 0 0;
}

.post-wrapper-data-more a,
.post-wrapper-data-more a:visited {
    display: inline-block;
    padding: 0.3125rem 0.9375rem;
    background-color: #020202;
    border-radius: 25px;
    color: #fff;
    font-size: 12px;
    font-size: 0.75rem;
    font-weight: 700;
    text-decoration: none;
    transition: all .25s ease-out;
}

.post-wrapper-data-more a:hover {
    background-color: #333;
}

/*--------*/

.post {
    display: block;
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #fff;
    box-shadow: 0 1px 5px rgba(0, 0, 1, 0.05);
}

.post-image {
    display: inline-block;
    width: 100%;
}

.post-image figure {
    display: block;
    margin: 0;
    padding: 0;
}

.post-image figure img {
    display: block;
    width: 100%;
    height: auto;
    margin: 0 auto;
    border: 0;
}

.post-image figure figcaption {

}

.post-content {
    padding: 2.8125rem;
}

.post-header {
    position: relative;
    width: 90%;
    margin: 0 auto 2.8125rem;
    padding: 0;
    text-align: center;
}

.post-title {
    margin: 0;
    padding: 0;
    font-size: 2.375rem;
    font-weight: 700;
    line-height: 1.4;
    word-wrap: break-word;
}

.post-meta {
    color: #3d3d3d;
    font-size: 0.875rem;
    text-align: center;
}

.post-meta span {
    display: inline-block;
    margin-top: 0.625rem;
    margin: 0.625rem 0.5rem 0 0.5rem;
}

.post-meta-author {

}

.post-meta-date {

}

.post-body {
    margin: 0;
    padding: 0;
    word-wrap: break-word;
}



/*---------------------
   RESPONSIVE DESIGN
---------------------*/

@media (min-width: 1380px) {
    .container {
        max-width: 1300px;
    }

    .site-title {
        font-size: 3rem;
    }

    .site-description {
        font-size: 1.125rem;
    }

    .site-navigation-li a,
    .site-navigation-li a:visited {
        padding: 0 1.0625rem;
    }
}

@media (min-width: 1200px) and (max-width: 1379px) {
    .container {
        max-width: 1140px;
    }

    .site-title {
        font-size: 3rem;
    }

    .site-description {
        font-size: 1.125rem;
    }

    .site-navigation-li a,
    .site-navigation-li a:visited {
        padding: 0 1.0625rem;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .container {
        max-width: 960px;
    }

    .site-title {
        font-size: 2.75rem;
    }

    .site-description {
        font-size: 1.125rem;
    }

    .site-navigation-li a,
    .site-navigation-li a:visited {
        padding: 0 1.0625rem;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .container {
        max-width: 720px;
    }

    .site-title {
        font-size: 2.75rem;
    }

    .site-description {
        font-size: 1.125rem;
    }

    .site-navigation-li a,
    .site-navigation-li a:visited {
        padding: 0 1.0625rem;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .container {
        max-width: 540px;
    }

    .site-title {
        font-size: 2.25rem;
    }

    .site-description {
        font-size: 1rem;
    }

    .site-navigation-li a,
    .site-navigation-li a:visited {
        padding: 0 1.0625rem;
    }
}

@media (max-width: 575px) {
    .site-title {
        font-size: 2.25rem;
    }

    .site-description {
        font-size: 1rem;
    }

    .site-navigation-li a,
    .site-navigation-li a:visited {
        padding: 0 1.0625rem;
    }
}
