
.blog {
    width: 100%;
}

.blog-post {
    display: flex;
    position: relative;
    width: 100%;
    padding: 0;
    background-color: #fff;
    box-shadow: 0 1px 5px rgba(0, 0, 1, 0.05);
}

.blog-post:nth-of-type(1) {
    margin: 0;
}

.blog-post-image {
    display: block;
    position: relative;
    overflow: hidden;
}

.blog-post-image figure {
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: #ccc;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    position: absolute;
    transition: all 0.5s ease;
}

.blog-post-image figure:hover {
    transform: scale(1.1) rotate(1deg);
}

.blog-post-data {
    align-self: center;
}

.blog-post-data-noimg {
    width: 100% !important;
}

.blog-post-data-meta a,
.blog-post-data-meta a:visited,
.blog-post-data-meta a time {
    color: #3d3d3d;
    text-decoration: none;
}

.blog-post-data-meta a:hover {
    color: #020202;
    text-decoration: underline;
}

.blog-post-data-meta-date,
.blog-post-data-meta-date .eos-icons {
    font-size: 0.875rem;
}

.blog-post-data-meta-date a:hover,
.blog-post-data-meta-date a time:hover {
    color: #666;
    text-decoration: none;
}

.blog-post-data h2 {
    padding: 0;
    clear: none;
    font-weight: 700;
    word-wrap: break-word;
}

.blog-post-data h2 a,
.blog-post-data h2 a:visited {
    color: #020202;
    text-decoration: none;
}

.blog-post-data h2 a:hover {
    color: #020202;
    text-decoration: underline;
}

.blog-post-data p {
    margin: 0;
    padding: 0;
    word-wrap: break-word;
}

.blog-post-data-more {
    width: 100%;
}

.blog-post-data-more a,
.blog-post-data-more a:visited {
    display: inline-block;
    padding: 0.3125rem 0.9375rem;
    background-color: #020202;
    border-radius: 25px;
    color: #fff;
    font-size: 12px;
    font-size: 0.75rem;
    font-weight: 700;
    text-decoration: none;
    transition: all .25s ease-out;
}

.blog-post-data-more a:hover {
    background-color: #333;
}



/*---------------------
   RESPONSIVE DESIGN
---------------------*/

/* Large screen in HD: PC, laptop */
@media (min-width: 1280px) {
    .blog-post {
        flex-direction: row-reverse;
        margin: 1.875rem 0 0 0;
    }

    .blog-post-image {
        width: 330px;
        min-height: 300px;
    }

    .blog-post-data {
        width: calc(100% - 330px);
        padding: 2.8125rem;
    }

    .blog-post-data-meta {
        margin: 0 0 10px 0;
        font-size: 0.875rem;
    }

    .blog-post-data h2 {
        margin: 0 0 15px 0;
        font-size: 1.7rem;
        line-height: 1.4;
    }

    .blog-post-data p {
        font-size: 1rem;
        line-height: 1.7;
    }

    .blog-post-data-more {
        margin: 15px 0 0 0;
    }
}

/* Large screen: PC, laptop */
@media (min-width: 1008px) and (max-width: 1279px) {
    .blog-post {
        flex-direction: column;
        margin: 1.875rem 0 0 0;
    }

    .blog-post-image {
        width: 100%;
        min-height: 300px;
    }

    .blog-post-data {
        width: 100%;
        padding: 2rem;
    }

    .blog-post-data-meta {
        margin: 0 0 10px 0;
        font-size: 0.875rem;
    }

    .blog-post-data h2 {
        margin: 0 0 15px 0;
        font-size: 1.7rem;
        line-height: 1.4;
    }

    .blog-post-data p {
        font-size: 1rem;
        line-height: 1.7;
    }

    .blog-post-data-more {
        margin: 15px 0 0 0;
    }
}

/* Medium screen: Tablet */
@media (min-width: 641px) and (max-width: 1007px) {
    .blog-post {
        flex-direction: column;
        margin: 1.875rem 0 0 0;
    }

    .blog-post-image {
        width: 100%;
        min-height: 300px;
    }

    .blog-post-data {
        width: 100%;
        padding: 2rem;
    }

    .blog-post-data-meta {
        margin: 0 0 10px 0;
        font-size: 0.875rem;
    }

    .blog-post-data h2 {
        margin: 0 0 15px 0;
        font-size: 1.7rem;
        line-height: 1.4;
    }

    .blog-post-data p {
        font-size: 1rem;
        line-height: 1.7;
    }

    .blog-post-data-more {
        margin: 15px 0 0 0;
    }
}

/* Small screen: Smartphone, TV (due to distance) */
@media (max-width: 640px) {
    .blog-post {
        flex-direction: column;
        margin: 1.875rem 0 0 0;
    }

    .blog-post-image {
        width: 100%;
        min-height: 240px;
    }

    .blog-post-data {
        width: 100%;
        padding: 1.2rem;
    }

    .blog-post-data-meta {
        margin: 0 0 10px 0;
        font-size: 0.875rem;
    }

    .blog-post-data h2 {
        margin: 0 0 15px 0;
        font-size: 1.7rem;
        line-height: 1.4;
    }

    .blog-post-data p {
        font-size: 1rem;
        line-height: 1.7;
    }

    .blog-post-data-more {
        margin: 15px 0 0 0;
    }
}
