
.error {
    display: block;
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #fff;
    box-shadow: 0 1px 5px rgba(0, 0, 1, 0.05);
}

.error-content {
    padding: 2.8125rem;
}

.error-header {
    position: relative;
    width: 90%;
    margin: 0 auto 2.8125rem;
    padding: 0;
    text-align: center;
}

.error-title {
    margin: 0;
    padding: 0 0 4px 0;
    font-size: 2.375rem;
    font-weight: 700;
    line-height: 1.4;
    word-wrap: break-word;
}

.error-body {
    margin: 0;
    padding: 0;
    word-wrap: break-word;
}
