
*, ::before, ::after {
    box-sizing: inherit;
}

body {
    display: block;
    margin: 0;
    font-family: "Noto Sans", sans-serif;
    color: #222;
    background: #f2f2f2;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Noto Sans", sans-serif;
    clear: both;
    color: #020202;
}

a:visited {
    color: inherit;
}

img,
figure img,
p img {
    max-width: 100%;
    height: auto;
}

figure figcaption {
    font-size: 0.82rem;
    color: #686868;
    text-align: center;
}

blockquote {
    background: #f9f9f9;
    margin: 1.5em 10px;
    padding: 1em;
}

blockquote:before {
    color: #ccc;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}

blockquote p {
    display: inline;
    font-style: italic;
}

code,
pre {
    font-size: 0.9rem;
    background-color: #eee;
}

pre code {
    background-color: transparent;
    padding: 0;
    border-radius: 0;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
}

table th,
table td {
    border: 1px solid #dbdbdb;
    vertical-align: top;
}



/*---------------------
   RESPONSIVE DESIGN
---------------------*/

/* Large screen in HD: PC, laptop */
@media (min-width: 1280px) {
    body {
        font-size: 1.125rem;
        line-height: 1.5;
    }

    blockquote {
        border-left: 10px solid #ccc;
    }

    code {
        padding: 3px 5px;
        border-radius: 5px;
    }

    pre {
        padding: 12px 16px;
        border-radius: 10px;
        line-height: 1.4;
    }

    table th,
    table td {
        padding: 0.3em 0.6em;
    }
}

/* Large screen: PC, laptop */
@media (min-width: 1008px) and (max-width: 1279px) {
    body {
        font-size: 1rem;
        line-height: 1.5;
    }

    blockquote {
        border-left: 7px solid #ccc;
    }

    code {
        padding: 3px 5px;
        border-radius: 5px;
    }

    pre {
        padding: 12px 16px;
        border-radius: 10px;
        line-height: 1.4;
    }

    table th,
    table td {
        padding: 0.3em 0.6em;
    }
}

/* Medium screen: Tablet */
@media (min-width: 641px) and (max-width: 1007px) {
    body {
        font-size: 1rem;
        line-height: 1.5;
    }

    blockquote {
        border-left: 7px solid #ccc;
    }

    code {
        padding: 3px 5px;
        border-radius: 5px;
    }

    pre {
        padding: 12px 16px;
        border-radius: 10px;
        line-height: 1.4;
    }

    table th,
    table td {
        padding: 0.3em 0.6em;
    }
}

/* Small screen: Smartphone, TV (due to distance) */
@media (max-width: 640px) {
    body {
        font-size: 1rem;
        line-height: 1.5;
    }

    blockquote {
        border-left: 5px solid #ccc;
    }

    code {
        padding: 3px 5px;
        border-radius: 5px;
    }

    pre {
        padding: 12px 16px;
        border-radius: 10px;
        line-height: 1.4;
    }

    table th,
    table td {
        padding: 0.3em 0.6em;
    }
}
