
.site {
    position: relative;
}

.container {
    width: auto;
    margin: 0 auto;
    padding: 0 15px;
}

.site-top {
    width: 100%;
}

.site-header {
    position: relative;
    margin: 0;
    padding: 1.25rem 0 1.875rem 0;
    background-color: #fff;
}

.site-branding {
    position: relative;
    text-align: center;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
}

.site-title {
    /* TODO: Better font? */
    font-family: "Noto Sans", sans-serif;
    line-height: 1.3;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    word-wrap: break-word;
}

.site-title a,
.site-title a:visited {
    color: #020202;
    font-weight: 700;
    text-decoration: none;
}

.site-title a:hover {
    text-decoration: underline;
}

.site-description {
    color: #4d4d4d;
    font-family: "Noto Sans", sans-serif;
    line-height: 1.3;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    word-wrap: break-word;
}

.site-navigation {
    position: relative;
    display: block;
    background-color: white;
}

.site-navigation-ul {
    margin: 0;
    padding: 1.6rem 0 1.2rem 0;
    list-style: none;
    text-align: center;
    border-top: 2px solid #020202;
}

.site-navigation-li {
    display: inline-block;
    position: relative;
    word-wrap: break-word;
    white-space: normal;
    line-height: 1.5;
}

.site-navigation-li a,
.site-navigation-li a:visited {
    display: block;
    position: relative;
    color: #020202;
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
}

.site-navigation-li a:hover {
    text-decoration: underline;
}

.site-navigation-li button {
    display: block;
    position: relative;
    padding: 0 1.0625rem;
    color: #020202;
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    border: none;
    background-color: transparent;
    line-height: 1.5;
}

.site-navigation-li button:hover {
    text-decoration: underline;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.site-navigation-li button .eos-icons {
    font-size: 18px;
}

.site-navigation-li button .eos-icons-l {
    margin-right: 4px;
}

.site-navigation-li button .eos-icons-r {
    margin-left: 4px;
}

.site-content {
    width: 100%;
    margin: 30px 0;
}

.site-content-inside {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.site-main {
    position: relative;
    box-sizing: border-box;
    flex: 0 0 68.75%;
    max-width: 68.75%;
    padding: 0 15px;
}

.site-sidebar {
    position: relative;
    box-sizing: border-box;
    flex: 0 0 31.25%;
    max-width: 31.25%;
    padding: 0 15px;
}

.site-footer {
    display: block;
    position: relative;
    padding: 2.8125rem 0;
    background: #020202;
}

.site-credits {
    width: 100%;
    text-align: center;
    color: #999;
    font-size: 0.875rem;
}



/*---------------------
   RESPONSIVE DESIGN
---------------------*/

@media (min-width: 1380px) {
    .container {
        max-width: 1300px;
    }

    .site-title {
        font-size: 3rem;
    }

    .site-description {
        font-size: 1.125rem;
    }

    .site-navigation-li a,
    .site-navigation-li a:visited {
        padding: 0 1.0625rem;
    }
}

@media (min-width: 1200px) and (max-width: 1379px) {
    .container {
        max-width: 1140px;
    }

    .site-title {
        font-size: 3rem;
    }

    .site-description {
        font-size: 1.125rem;
    }

    .site-navigation-li a,
    .site-navigation-li a:visited {
        padding: 0 1.0625rem;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .container {
        max-width: 960px;
    }

    .site-title {
        font-size: 2.75rem;
    }

    .site-description {
        font-size: 1.125rem;
    }

    .site-navigation-li a,
    .site-navigation-li a:visited {
        padding: 0 1.0625rem;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .container {
        max-width: 720px;
    }

    .site-title {
        font-size: 2.75rem;
    }

    .site-description {
        font-size: 1.125rem;
    }

    .site-navigation-li a,
    .site-navigation-li a:visited {
        padding: 0 1.0625rem;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .container {
        max-width: 540px;
    }

    .site-title {
        font-size: 2.25rem;
    }

    .site-description {
        font-size: 1rem;
    }

    .site-navigation-li a,
    .site-navigation-li a:visited {
        padding: 0 1.0625rem;
    }
}

@media (max-width: 575px) {
    .site-title {
        font-size: 2.25rem;
    }

    .site-description {
        font-size: 1rem;
    }

    .site-navigation-li a,
    .site-navigation-li a:visited {
        padding: 0 1.0625rem;
    }
}
