
.widget {
    display: block;
    position: relative;
    padding: 1.875rem;
    margin: 1.875rem 0 0 0;
    font-size: 0.875rem;
    word-wrap: break-word;
    background-color: #fff;
    box-shadow: 0 1px 5px rgba(0, 0, 1, 0.05);
}

.widget:nth-of-type(1) {
    margin: 0;
}
